<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<connectionStrings><add name="NorthwindDbContext" connectionString="metadata=res://*/Database.NorthwindDbModel.csdl|res://*/Database.NorthwindDbModel.ssdl|res://*/Database.NorthwindDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SWR12010A\DB_ST01;initial catalog=AISCLLA_ClassicLab_stest;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="NorthwindDbConnection" connectionString="metadata=res://*/Database.NorthwindDataModel.csdl|res://*/Database.NorthwindDataModel.ssdl|res://*/Database.NorthwindDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SWR12010A\DB_ST01;initial catalog=AISCLLA_ClassicLab_stest;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>-->
  <connectionStrings>
    <add name="NorthwindDbContext" connectionString="metadata=res://*/Database.NorthwindDataModel.csdl|res://*/Database.NorthwindDataModel.ssdl|res://*/Database.NorthwindDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SWR12010A\DB_ST0;initial catalog=AISCLLA_ClassicLab1_stest;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>